<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
    <h1><%= @podcast.title %></h1>
    <p class="description"><%= @podcast.description %></p>
    <% unless @podcast.itunes.blank? %>
       <a href="<%= @podcast.itunes %>" class="subscription_link">iTunes</a>
    <% end %>
    <% unless @podcast.stitcher.blank? %>
       <a href="<%= @podcast.stitcher %>" class="subscription_link">Stitcher</a>
    <% end %>
    <% unless @podcast.podbay.blank? %>
       <a href="<%= @podcast.podbay %>" class="subscription_link">PodBay</a>
    <% end %>
     </div>
  </div>

  <div id="breadcrumb">
    <%= link_to podcasts_path do %>
    All podcasts
    <span>/</span>
    This American Life Podcast
    <% end %>
  </div>

  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="#">
              <img src="images/thisamericanlifeepisode.jpeg" alt="samebedep">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">Same Bed Different Dreams</a></h2>
            <p class="description">Stories of people who are tied together,
               but imagine radically different futures.</p>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a class="next_page" href="#">Next</a>
  </div>

</div>
